.chat {
  width: 651px;
  height: 757px;
  margin: 20px auto;

  background-image: url("../img/forest.png");
  background-repeat: no-repeat;
  background-position: -30px 0;
}

.chat__field {
  padding-top: 30px;
  overflow: hidden;
  overflow-y: scroll;

  border-bottom: 1px solid #dbdbdb;
}

.chat__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: -15px;
  padding: 0;
  padding: 15px;

  list-style: none;
}

.chat__item {
  display: flex;
  margin-bottom: 20px;
}


.chat__avatar {
  width: 47px;
  height: 47px;

  background-color: white;
  background-image: url("../img/avatar.png");
  background-repeat: no-repeat;
  background-position: -1px 1px;
  background-size: 103%;

  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.chat__text {
  position: relative;

  min-width: 46px;
  max-width: 470px;
  margin: 0;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 10px;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto;
  font-style: normal;

  background-color: #f1f3f5;
  border-radius: 5px;
}

.chat__text::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -8px;

  width: 10px;
  height: 10px;

  border-top: 10px solid #f1f3f5;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;;
}

.item--right .chat__text::before {
  right: -8px;
  left: auto;
}

.chat__date {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto;
  color: #000000;
  font-style: normal;
}

.chat-form {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.chat-form__input {
  width: 590px;
  height: 129px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;

  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  font-family: Noto Sans;
  color: #696969;
  font-style: normal;

  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;

  resize: none;
}

.chat-form__button {
  min-width: 144px;
  height: 41px;
  padding-right: 22px;
  padding-left: 22px;

  font-size: 16px;
  line-height: 41px;
  line-height: 24px;
  font-family: Proxima Nova;
  text-align: center;
  color: #ffffff;

  background: #0f54b9;
  border: none;
  border-radius: 21px;
  box-shadow: none;
}
