.story {
  display: -ms-grid;
  display:     grid;
  order: -1;

  grid-template: "idea idea" 1fr
  "idea idea" 1fr
  "about about" 1fr
  / 1fr 1fr
  ;


  @media (min-width: $tablet) {
    order: 0;
    margin-top: 10px;

    grid-template: "idea . about" 155px
    "idea . about" 155px
    ". . ." 10px
    / 2fr 10px 1fr
    ;
  }
}

.story__idea {
  grid-area: idea;
}

.story__about {
  grid-area: about;
}
