.wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 768px;
  }
}

.card {
  position: relative;
}

.title {
  @include margin-padding-reset();

  position: absolute;
  bottom: 13px;
  left: 17px;

  width: 125px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto;
  vertical-align: bottom;
  font-style: normal;

  @media (min-width: $tablet) {
    width: auto;
    max-width: 211px;
  }
}
